@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: hsl(259, 100%, 65%);
  --color-error: hsl(0, 100%, 67%);
  --color-white: hsl(0, 100%, 100%);
  --color-grey-100: hsl(0, 0%, 94%);
  --color-grey-200: hsl(0, 0%, 86%);
  --color-grey-500: hsl(0, 1%, 44%);
  --color-black: hsl(0, 0%, 0%);
  --font-poppins: "Poppins", sans-serif;
  --text-big: 32px;
}

label {
  @apply uppercase tracking-widest text-xs font-bold text-grey-500;
}

.label {
  @apply flex flex-col w-[125px] gap-2;
}

@layer base {
  input {
    @apply border-grey-500 border rounded p-2 pe-0 text-2xl font-bold text-black duration-300 outline-none placeholder:text-grey-500 hover:border-primary;
  }
}

.output {
  @apply text-6xl text-black font-bold italic;
}

.output span {
  @apply text-primary;
}

.error {
  @apply text-error italic text-xs;
}
